.section {
  padding-block: 20px;
}

.container {
  display: grid;
  gap: 30px;
}

.back {
  display: flex;
  justify-content: flex-end;
}

.back > a {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--github-gray-3);
  transition: var(--transition);
}

.back > a:hover {
  color: var(--github-blue-6);
}

.searchGroup {
  display: grid;
  gap: 1rem;
}

.search {
  display: flex;
  align-items: center;
  /* border: 1px solid var(--github-gray-3); */
  border: none;
  border-top: 1px solid var(--github-gray-7);
  border-bottom: 1px solid var(--github-gray-7);
  border-radius: 6px;
  overflow: hidden;
}

.search > input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  font-size: 14px;
  color: var(--github-gray-3);
  width: 100%;
}

.search > button {
  height: 100%;
  padding-inline: 10px;
  font-size: 20px;
  background-color: transparent;
  color: var(--github-gray-3);
  transition: var(--transition);
}

.search > input:focus + button {
  color: var(--github-blue-6);
}

.filter {
  display: grid;
  grid-template-columns: 70px 1fr 20px;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

.filter > label {
  font-weight: 500;
}

.filter > input {
  background-color: transparent;
  /* border: 1px solid var(--github-gray-3); */
  border: none;
  border-top: 1px solid var(--github-gray-7);
  border-bottom: 1px solid var(--github-gray-7);
  border-radius: 6px;
  padding: 10px;
  outline: none;
  color: var(--violet);
  width: 100%;
}

.filter > button {
  background-color: transparent;
  color: var(--github-blue-6);
  transition: var(--transition);
}

.filter > button:hover,
.search > button:hover {
  transform: scale(1.3);
  color: var(--github-blue-6);
}
