.home {
  width: 100%;
  margin: 0 auto;
}

.grid {
  display: grid;
  width: 100%;
  gap: 1rem;
}

.heroImg {
  position: relative;
  width: 100%;
  height: 200px;
}

.img {
  object-fit: cover;
}

.secondCol {
  width: 100%;
}

.login {
  padding-bottom: 3rem;
}

.login > h2 {
  margin-bottom: 4rem;
  color: var(--github-blue-6);
}

.login > form {
  margin-top: 2rem;
  display: grid;
  gap: 0.8rem;
}

.login > form label {
  font-weight: 500;
}

.inputGroup > input,
.passwordInput > input {
  width: 100%;
  height: 50px;
  color: var(--github-gray-3);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--github-gray-8);
  transition: var(--transition);
}

.inputGroup > input:focus,
.passwordInput > input:focus {
  border-color: var(--github-blue-6);
}

.passwordInput {
  display: flex;
  align-items: center;
}

.passwordVisibility {
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
}

.notice {
  font-size: 12px;
  color: var(--blue);
  margin-bottom: 1rem;
}

.login > form > button {
  padding: 0.6rem;
  background-color: var(--github-blue-6);
  color: var(--github-white);
  border-radius: 4px;
  transition: var(--transition);
}

.login > form > button:active {
  transform: scale(0.9);
}

.links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
  width: max-content;
  text-align: center;
}

.links > a {
  color: var(--github-gray-3);
  transition: var(--transition);
}

.links > a:hover {
  color: var(--github-blue-5);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 60px);
    place-items: center;
  }

  .heroImg {
    position: relative;
    width: 100%;
    height: inherit;
  }

  .login {
    padding-bottom: 0;
  }
}
